#keywords{
    float: left;
    width: 80%;
}

#searchbtn{
    float: left;
}

#background{
    z-index: -100;
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../img/星空.jpeg);
    transition: transform 1.5s,opacity 1s;
}

.head{
    margin:;
}

.inputpanel{
    width:400px;

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.inputpanel:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}